<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Admin Page</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="all" href="/css/styles.css" th:href="@{/css/styles.css}" />
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
  <header th:insert="fragments/header.html :: header"></header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="navbarNavAltMarkup">
        <a class="nav-item nav-link" href="/admin/AddGrocery">Add Grocery<i class="fa fa-plus" style="font-size:25px"></i></a>
      </div>
    </div>
  </nav>
  <span th:text="${test}"></span>
    <table id="table" class="table table-striped table-bordered table-hover" th:if="${groceryList != null AND groceryList != ''}">
      <thead>
        <th>Grocery Name</th>
        <th>Grocery Category</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delete</th>
        <th>Edit</th>
      </thead>

	 <tr th:each="s : ${groceryList}"> 
	  <td th:text = "${s.groceryName}"> Grocery Name </td>
	  <td th:text = "${s.groceryCategory}"> Grocery Name </td>
	  <td th:text = "${s.groceryPrice}"> Price </td>
	  <td th:text = "${s.groceryQuantity}"> Grocery Name </td>
	  <td><a class="fake-button" th:href="@{/admin/DeleteGroceryByID/}+${s.groceryID}"><i class='fa fa-trash' style='font-size:36px'></i></a></td>
	  <td><a class="fake-button" th:href="@{/admin/EditGroceryByID/}+${s.groceryID}"><i class='fas fa-edit' style='font-size:36px'></i></a></td>
	  <!-- <td><a th:href="@{/admin/EditGroceryByID/}+${s.groceryID}">EDIT</a></td> -->
     </tr> 
    </table>
</body>
<footer th:insert="fragments/footer.html :: footer"></footer>
</html>